body{
	background:#efefef;
}
#container-categories{
	width: 95%;
 height: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
#container-categories-promo{
	width: 95%;
 height: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
}
#container-categories-monitor{
	width: 95%;
 height: 145vw;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
#container-query{
	width: 95%;
	margin: 0 auto;
	position: relative;
}
#container-filter{
	position: absolute;
	width: 25%;
	left: 0%;
	height: 50vw;
	font-size: 0.9rem;
}
.content-filter{
	margin-top: 10%;
}
.content-filter-categories{
	margin-top: 2.5%;
}
.div-w-bg{
	background-color: #ffffff;
	border-radius: 5px;
	width: 275px;
	padding: 20px;
	font-size: 0.9rem;
}
.filter-title{
	font-family: 'Poppins',sans-serif;
	font-weight: 100;
	margin-bottom: 15%;
	margin: 0 auto;
	font-size: 1.2rem;
}
.filter-type{
	font-size: 0.9rem;
	color: #ef5319;
}
#products-container{
	position: absolute;
	left: 25%;
	margin-top: 2.5%;
	width: 75%;
	display: flex;
	flex-wrap: wrap;
}
.idbestseller a{
	text-decoration: none;
	color: black;
}
.idbestseller a:hover{
	color: black;
}
.idbestseller{
	position: relative;
	color: black;
	width: 300px;
	height: auto;
	background-color: #ffffff;
	text-align: center;
	margin: 0 auto;
	margin: 5px;
	z-index: 1;
	transition: all 0.1s ease-in-out 0s;
	padding: 20px;
	border: 0;
	border-radius: 5px;
}
.idbestseller:hover{
	-webkit-box-shadow: 1px 3px 9px -2px #9f9f9f; 
 box-shadow: 1px 3px 9px -2px #9f9f9f;
}
.idbestseller img{
	width: 200px;
	height: 200px;
	height: auto;
	margin-top: 5%;
}
.idbestseller a{
	text-decoration: none;
}
.offers-bootstrap{
	color: black;
	width: 20%;
	height: 500px;
	transition: 0.3s all;
	border-radius: 5px;
	background-color: #d9d9d9;
	padding: 15px;
	text-align: center;
	margin: 0 auto;
}
.nome1-bestseller{
	text-align: center;
	margin: 0 auto;
	width: 100%;
	height: auto;
}
#qnt-oferta-style{
	color: white;
	height: 2.5rem;
}
#qnt-oferta-style h4{
	position: absolute;
	color: #000000;
	margin: 0 auto;
	top: 0%;
	left: 0%;
	padding: 5px;
	display: flex;
	align-items: center;
	font-size: 0.9rem;
	background-color: #69be69;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #222222;
}
#qnt-oferta-style b{
	font-weight: 300;
	color: #222222;
}
#qnt-oferta-style img{
	width: 20px;
}
.nome1-bestseller h5{
	margin-top: 10px;
	font-size: 1.05rem;
	height: 0.5em;
}
#preco{
	font-size: 18px;
	text-decoration: line-through;
	color: #333b3e;
}
#preco-offer{
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	font-weight: 550;
}
#div-star-img{
	position: relative;
	width: 100%;
}
#div-star-img b{
	position: absolute;
	top: 30%;
	margin-left: 2.5%;
	font-size: 0.
}
#star1, #star2, #star3, #star4, #star5{
	width: 21px;
	height: 21px;
}
#icon-wishes{
	font-size: 1.25rem;
	color: #797979;
	position: absolute;
	right: 2.5%;
	top: 2.5%;
}
#icon-wishes:hover{
	color: #e86332;
}